.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  transition: 0.3s;
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: 0.3s;
}
.product:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translate(0, -10px);
  
}

.product > button:hover {
  cursor: pointer;
  transform: translate(0, -1px);
  background-color:rgba(245, 202, 110, 0.932);
}

.product_rating {
  display: flex;
}
.product_price {
  margin-top: 5px;
}
.product_info {
  text-align: left;
  height: 100px;
  margin-bottom: 15px;
}
